<div class="quienSoy">
    <ul class="lista">
        <img src="../../../assets/img/Yo.jpg" alt="Facundo D'alessio">
        <li>Facundo D'alessio</li>
        <li>24 años</li>
        <li>Un poco sobre mi:
            <ul>
                <li>Programador BackEnd Junior en Baufest.</li>
                <li>Estudiante de programacion en la UTN.</li>
            </ul>
        </li>
        <li>Juego propio:
            <ul>
                <li>Es el truco, con la diferencia que no se puede cantar nada, 
                    solo se juegan las manos y el que gana 2 gana la partida.
                    Para mas informacion sobre los valores de las cartas pueden
                    fijarse 
                    <span class="link"><a href="https://www.bureaudejuegos.com/reglas-truco/" target="_blank">aca</a></span>.
                </li>
            </ul>
        </li>
    </ul>
</div>
  
