.quienSoy {
    text-align: center;
}

.lista {
    background-color: rgb(62, 92, 118);
    list-style-type: none;
    padding: 20px;
    margin: 0 auto;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(62, 92, 118, 0.5);
    border-radius: 10px;
}

.lista li {
    margin-bottom: 10px;
}

.lista ul {
    text-align: left;
}

img{
    width: 80%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

li{
    color: #F0EBD8;
}

.link a{
    color: #F0EBD8;
}
  