.navBar{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 5%;
}

.navBar button{
    margin: 5px;
}

.navBar .btn{
    background-color: #F0EBD8;
}

.navBar .icon{
    color: #F0EBD8;
}
